<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a class="text-muted" href="#" target="_blank"
            ><strong>{{ appName }}</strong></a
          >
          -
          <a class="text-muted" href="#" target="_blank"
            >
            <strong>Version 1.0</strong></a>
          <!--&copy;-->
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#" target="_blank"
              >Soporte</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#" target="_blank"
              >Centro de ayuda</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#" target="_blank"
              >Privacidad</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#" target="_blank"
              >Términos y condiciones</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
