<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">{{ appName }}</span>
    </a>

    <ul class="sidebar-nav">
      <ng-container *ngFor="let section of menuSections">
        <li class="sidebar-header">{{ section.header }}</li>
        <li *ngFor="let item of section.items" class="sidebar-item" [class.active]="item.active">
          <a class="sidebar-link" [routerLink]="item.link">
            <i class="align-middle" [attr.data-feather]="item.icon"></i>
            <span class="align-middle">{{ item.name }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>